{% extends 'base.html' %}
{% load staticfiles %}

<!-- place for block title and head if any -->
{% block head %}
    <link href="{% static 'css/merchants.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}

    <div class="header">
        <h2>Find Your Restaurant</h2>
        <p>Pre-order from your favourite restaurants and have them ready in time.</p>
    </div>
    <br/>
    <br/>

    <div class="row">
        {% for merchant in merchants %}
           <div class="col-xs-6 col-md-3">
                <a href="{% url 'store:merchant' merchant.name.lower merchant.id %}" class="thumbnail">
                    <div class="merchant-container">
                        <h2>{{ merchant.name }}</h2>
                        <p>{{ merchant.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock main %}