.header {
    text-align: center;
}


a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.merchant-container {
    text-align: center;
    color: #0f0f0f;
}

hr {
    margin-bottom: 5px !important;
}

.merchant-status {
    text-align: center;
    color: #737373;
}

.merchant-status p {
    margin-bottom: 0;
}